@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');


@import 'statics';
@import 'animation';
@import 'navbar';
@import 'home';
@import 'main';
@import 'banner';
@import 'carousel';
@import 'join';
@import 'founder';
@import 'footer';
@import 'about';
@import 'donate';
@import 'certificate';
@import 'newspaper';
@import 'account';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
}


.button1 {
    padding: 10px 20px;
    background-color: $color3;
    border: 2px solid $color3;
    color: $color6;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        border: 2px solid $color3;
        color: $color3;
    }
}


.button2 {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid $color3;
    color: $color3;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
        background-color: $color3;
        border: 2px solid $color3;
        color: $color6;
    }
}

a {
    text-decoration: none;
}