.donate{
    height: 100vh;
    background-color: $color3;
    display: flex;
    align-items: center;

    .images{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        
        img{
            border-radius: 5px;
        }
    }
}