.founder {
    height: 100vh;
    background-color: $color1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    h1 {
        font-family: $text1;
        width: 70%;
        font-size: 65px;
        font-weight: 900;
        color: $color6;
        text-align: center;
        margin-bottom: 20px;
    }

    h2 {
        text-align: center;
        font-family: $text2;
        color: $color6;
    }

    p {
        font-family: $text3;
        color: $color6;
        font-size: 21px;
    }


    .bottom {
        display: flex;
        margin-top: 100px;
        width: 100%;
        justify-content: space-around;
        align-items: center;

        .p {
            font-family: $text3;
            color: $color6;
            text-align: center;
            font-size: 20px;
            width: 30%;
        }
    }
}



/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .founder {
        height: 80vh;
        

        h1 {
            width: 100%;
            font-size: 19px;
        }


        p {
            text-align: center;
            font-size: 18px;
        }


        .bottom {
            margin-top: 50px;
            width: 100%;
            flex-direction: column;
           

            .p {
                
                text-align: center;
                font-size: 20px;
                width: 100%;
                margin: 40px 0;
            }
        }
    }

}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .founder {
        height: 80vh;
        

        h1 {
            width: 100%;
            font-size: 19px;
        }


        p {
            text-align: center;
            font-size: 18px;
        }


        .bottom {
            margin-top: 50px;
            width: 100%;
            flex-direction: column;
           

            .p {
                
                text-align: center;
                font-size: 20px;
                width: 100%;
                margin: 40px 0;
            }
        }
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    .founder {
        height: 100vh;
        background-color: $color1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        h1 {
            width: 100%;
            font-size: 19px;
        }

        h2 {
            text-align: center;
            font-family: $text2;
            color: $color6;
        }

        p {
            font-family: $text3;
            color: $color6;
            font-size: 21px;
        }


        .bottom {
            display: flex;
            margin-top: 100px;
            width: 100%;
            justify-content: space-around;
            align-items: center;

            .p {
                font-family: $text3;
                color: $color6;
                text-align: center;
                font-size: 20px;
                width: 30%;
            }
        }
    }

}