$color1: #242582;
$color2 : #553d67;
$color3 : #f64c72;
$color4 : #99738e;
$color5 : #2f2fa2;
$color6 : #fff;


$text1: 'Open Sans', sans-serif;
$text2: 'Roboto', sans-serif;
$text3: 'cursive', cursive;